.container{
    margin: 1.5rem;
}

.title{
    text-align: center;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    margin: 1rem auto;
    width: 50rem;
}

table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}

thead{
    background-color: purple;
    color: white;
}

tbody{
    background-color: white;
}

tfoot{
    background-color: grey;
    color: white;
}

td,th{
    padding: 0.5rem;
}

.form-group{
    margin: 1.5rem auto;
}

.form-control > label{
    display: block;
}

.form-control{
    margin-bottom: 1rem;
}

input, textarea{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 100%;
}

input{
    height: 2rem;
}

.action{
    text-align: right;
}

.btn-create{
    width: 5rem;
    height: 2.8rem;
    background-color: purple;
    color: white;
}