<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>School App</title>
    
</head>
<body>
    <div class="container">
        <h3 class="title">New Student Form</h3>
        <div class="form-group">
            <form action="/student/create" method="post">
                <div class="form-control">
                    <label for="firstname">FirstName</label>
                    <input type="text" name="firstname" id="firstname" required>
                </div>

                <div class="form-control">
                    <label for="lastname">LastName</label>
                    <input type="text" name="lastname" id="lastname" required>
                </div>

                <div class="form-control">
                    <label for="fullname">FullName</label>
                    <input type="text" name="fullname" id="fullname" required>
                </div>

                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" required>
                </div>

                <div class="form-control">
                    <label for="year">Year</label>
                    <input type="text" name="year" id="year" required>
                </div>

                <div class="form-control">
                    <label for="major">Major</label>
                    <select name="major_id" id="major">
                        <option th:each="major : ${majors}" th:value="${ major.id }" th:text="${ major.name }"></option>
                    </select>
                </div>
                
                <div class="action">
                    <button class="btn-create" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>